
.o-the-header {
    background-color: $secondary-200;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 0 20px;
    color: $primary-600;
    font-family: 'Caveat', cursive;

    @include for-tablet-landscape-up {
        color: $dark-600;
    }
}

.o-main {
    font-family: 'Nunito', sans-serif;
    background-color: $secondary-200;

    button {
        transition: background-color 0.5s;
    }
}