@import '../settings/s-colors';

// Prefix classes
.u-hidden {
    display: none;
}

.u-btn--hover:hover {
    background-color: $primary-800;
    transition: 1s;
}

.u-flex {
    display: flex;
}

.u-tablet-none {
    @include for-tablet-landscape-up {
        display: none;
    }
}

.h1-like {
    font-size: 30px;
}

.h2-like {
    font-size: 26px;
}

.h3-like {
    font-size: 22px;
}

.h4-like {
    font-size: 18px;
}

.h5-like {
    font-size: 16px;
}

.h6-like {
    font-size: 14px;
}

