@import '../settings/s-colors';
@import '../settings/s-breakpoints';

// Dropdown Menu Preferances
.header-navigation {
    display: none;

    @include for-tablet-landscape-up {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    div {
        margin-right: 40px;
    }

    a {
        color: $dark-600;
    }

    div:nth-last-child(1) {
        margin-right: 0;
    }

    button {
        color: $dark-600;
    }

    button:hover {
        color: $primary-600;
        cursor: pointer;
    }
}

.header-navigation__dropdown {
    position: relative;
    font-size: 38px;
    left: -20px;
    width: 100%;
    background-color: $primary-600;
    display: none;
    flex-direction: row;
    align-items: center;
    grid-area: header-mid;

    @include for-small-phone {
        font-size: 26px;
    }

    @include for-tablet-landscape-up {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        min-height: 60px;
        top: 60px;
        left: 0;
        font-size: 30px;
        width: 100%;

        i {
            display: none;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;

        @media (max-width: 899px) {
            align-items: center;
        }

        @include for-tablet-landscape-up {
            flex-direction: row;
        }

        li {
            transition: transform 0.7s;
            padding: 7px 10px;

            @media (max-width: 899px) {
                padding: 2% 0 2% 15px;
            }

            // &:nth-last-child(1) {
                
            // }
        }

        li:hover {
            transform: scale(1.1);
        }

        li > a {
            color: white;
        }

        i {
            font-size: 0.5em;
            padding-left: 1em;
        }
    }
}