@import '../settings/s-colors';

// Bootstrap and other Icons
.fa-caret-down {
    font-size: 22px;
    padding-left: 5px;
}

.e-icon {
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
}

.e-favorite {
    height: 2em;
    width: 2em;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    border-radius: 50%;
}