@import '../settings/s-fonts';
@import '../settings/s-breakpoints';
@import '../settings/s-colors';

.c-cards {
    color: $primary-600;
    margin: 20px 0;

    .e-card:nth-child(3) {
        @media (max-width: 899px) {
            display: none;
        }
        @include for-phone-only {
            display: block;
        }
    }

    &__title {
        text-align: center;
        padding: 5%;

        h2 {
            @include for-phone-only {
                font-size: 1.3em;
            }
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 3%;
        padding: 30px 0;

        @include for-phone-only {
            overflow: scroll;
            overflow-y: hidden;
            &::-webkit-scrollbar {
                height: 8px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $primary-600;
                border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background-color: $primary-800;
            }
        }

        div {
            flex-basis: 40%;
        }
    }
}