@import '../settings/s-fonts';
@import '../settings/s-breakpoints';
@import '../settings/s-colors';

.c-cards {
    color: $primary-600;
    margin: 20px 0;

    &__title {
        text-align: center;
        padding: 5%;

        h2 {
            @include for-phone-only {
                font-size: 1.3em;
            }
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 3%;

        div {
            flex-basis: 40%;
        }
    }
}